*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.banner{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.669)), url(image/ocean-1867285_640.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.cp{
    color: wheat;
    text-align: center;
    width: 70%;
}
.cp h3{
    text-transform: uppercase;
 font-size:50px;
    color: brown;
}
.cp p{
    font-size: 20px;
    margin: 15px 0px;

}
 
button{
    background-color: greenyellow;
    background-size: 30px;
     font-weight:600; 
     padding: 15px 32px;
     font-size: 20px;
     cursor: pointer;

}
.cp button:hover{
    transition: 0.5s ease-in; background-color: aqua;
}